# IDE files
venv/
.idea/

# Cache because I realy dont want to leak my token, and i dont know how the cache works
__pycache__/

# Env to not leak my token once again
.env

# Bash because Its unrelated to the project
.bashrc
